<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Bus Reservation Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Bus Reservation Application", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About Us", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("User"))
                        {
                            <li>@Html.ActionLink("Reserve Seats", "SelectBus", "User")</li>
                            <li>@Html.ActionLink("My Reservations", "Reservations", "Reservations")</li>
                        }

                        if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Add Bus", "BusList", "Admin")</li>
                            <li>@Html.ActionLink("Schedule Bus", "ScheduleBus", "Admin")</li>
                            <li>@Html.ActionLink("Scheduled Bus List ", "ScheduleBusList", "Admin")</li>
                            <li>@Html.ActionLink("All Reservations", "Reservations", "Reservations")</li>
                        }

                        <li>@Html.ActionLink("Logout", "Logout", "Auth")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Login", "Login", "Auth")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <center><img src="https://www.mercedes-benz.com/en/vehicles/buses/_jcr_content/root/slider_0/sliderchilditems/slideritem_0/image/MQ7-0-image-20190701182237/00-mercedes-benz-vehicles-buses-tourismo-rhd-3400x1440.jpeg" height="480" width="1200" /></center>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <div>

        </div>
        <footer>
            <p>&copy; @DateTime.Now.Year - Bus Reservation Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>